@layout('layouts/main')

@section('content')

  <h3>Create Post</h3>
  <hr>
  <form action="{{ route('posts.store') }}" method="POST">

    @include('post/_form')

    <div class="mb-3">
      <button class="btn btn-primary"><b>Save</b></button>
      <a href="{{ route('posts.index') }}" class="btn btn-default"><b>Cancel</b></a>
    </div>

  </form>


@end
