@layout('layouts/main')

@section('content')

  <h3>Add Category</h3>
  <hr>
  <form action="{{ route('categories.store') }}" method="POST">

    @include('category/_form')

    <div class="mb-3">
      <button class="btn btn-primary"><b>Save</b></button>
      <a href="{{ route('categories.index') }}" class="btn btn-default"><b>Cancel</b></a>
    </div>

  </form>
@end
